*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/release/
firebase-auth-config-backup.json
firebase-debug.log
gradle.properties
tmp_*.db
tmp_*.pb
*.aab
*.apk
*.apks
